name: Zenodo Upload

on:
  release:
    types: [published]

jobs:
  upload-to-zenodo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Zenodo upload
        uses: megasanjay/upload-to-zenodo@v2.0.1
        with:
          zenodo-token: ${{ secrets.ZENODO_TOKEN }}
          upload-path: .
          record-id: 'NEW'  # or your existing Zenodo record ID
